from django.urls import path

from . import conf

from django.contrib.auth.mixins import LoginRequiredMixin, PermissionRequiredMixin
from django.views.generic import TemplateView
from django.urls import include, path

urlpatterns = []
